/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
} */

section {
    padding: 2rem;
}
section.mini {
    padding: 1rem;
    height: calc((100vh - var(--footer-height)) / 2);
    width: calc((100vw - var(--main-navbar-width)) / 2);
}

.split-screen > .row {
    height: 50%;
    max-height: 50%;
}
.split-screen > .row > .col {
    border: solid var(--sections-border-color-light);
    border-width: 1px 0 0 1px;
    margin: -1px 0 0 -1px;
}

/* Tables */
.virtual-complex-table {
    height: calc(100% - 94px);
}
.virtual-complex-table .table {
    overflow-x: scroll;
    margin: auto;
}
.virtual-complex-table .th {
    background-color: var(--bs-gray-300);
    font-size: 12px;
    font-weight: bold;
    padding: 0.5em;
    white-space: nowrap;
}
.virtual-complex-table .th:hover {
    background-color: var(--bs-gray-400);
}
.virtual-complex-table .tr {
    background: white;
}
.virtual-complex-table .tr.active {
    background: #0d6efd;
    color: white;
}
.virtual-complex-table .td {
    border-top: solid 1px var(--bs-border-color);
    border-left: solid 1px var(--bs-border-color);
    font-size: 12px;
    padding: 0 0.25em;
    overflow-x: auto;
    white-space: nowrap;
}
.virtual-complex-table .td::-webkit-scrollbar { display: none; }
.virtual-complex-table .tr:last-child .td { border-bottom: solid 1px var(--bs-border-color); }
.virtual-complex-table .td:last-child { border-right: solid 1px var(--bs-border-color); }

/* MBData window */
.MBData-window {
    height: 100%;
    width: 100%;
    border: solid 1px var(--bs-border-color);
    background: white;
    overflow: scroll;
}
.MBData-window pre {
    font-size: 12px;
    margin: 0;
    padding: 10px;
    overflow: unset;
}